<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <title>Social Music</title>
   <!-- HTML5 shim, for IE6-8 support of HTML elements -->
   <!--[if lt IE 9]>
     <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
 </head>
 <body>
  <!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
    <title>Social Music</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Boite à musique</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/songs">Musique-thèque</a></li>
              <li><a href="/users/">Réseaux d'utilisateurs</a></li>
              <li><a href="/users/profil">Mon compte</a></li>
              <li> <% if (user_session) {%>
                  <a href="/logout">Logout  (<%= user_name %>)</a>
                  <%}%>
              </li>
          </div><!--/.nav-collapse -->
    </div>
      </div>
  </nav>
</head>
