<% include partials/header %>
<body>
<div  style="margin-top:100px" class="container">
  <div class="col-lg-6">
      <h2>Derniers inscrits</h2>

      <table class="table table">
          <thead>
              <tr>
                  <th>Nom d'utilisateur</th>
                  <th>Inscrit le</th>
                  <th>Action</th>
              </tr>
          </thead>
          <% lastUser.forEach(function(user) {%>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.createdAt %> </td>
                <td><a href="/users/<%=user.id%>">Voir le profil</a> </td>
            </tr>
          <% }) %>
      </table>
  </div>
</div>
<div class="container">
    <% if (user_admin) { %><br/>     <a href="/songs/add/">Ajouter une chanson</a>
    <% } %>
</div>
</body>
<% include partials/footer %>
