<% include partials/header %>
<div  style="margin-top:100px" class="container">
   <%if (err) {%>
        <div style="color:red"><%=err%></div>
        <hr/>
   <%} %>
   <form method="POST" role="form" action="/songs">
        <% include _formSong %>
   
   </form>
</div>
<% include partials/footer %>